.bg {
  width: 100%;
  height: 768px;
  left: 0;
  top: 0;
  position: fixed;
}
#create-form {
  display: none;
}
.create_user_form {
  display: none;
}
.create_task_form {
  display: none;
}

.panel {
  background-color: rgba(255, 255, 255, .8);
  margin-top: 60px;
  border: none;
}
.project-details{
  display: none;
}
.panel-title{
  width: 75%;
  margin: auto;
  margin-top: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.overlay {
  opacity: .7;
  background-color: black;
  position: absolute;
  left: 0; top: 0; height: 1000px; width: 100%;
}
.overlay2 {
  opacity: .7;
  background-color: white;
  position: absolute;
  left: 0; top: 0; height: 1000px; width: 100%;
}

li {
  list-style-type: none;
  cursor: pointer
}
.project {
  list-style-type: none;
  padding: 10px;
  margin-top: 10px;
  border: 2px;
  background-color: #C8C8C8;
}

.login {
  margin-top:  20%;
  color: white;
}

.welcome {
  text-align: center;
  padding-bottom: 45px;
  height: 1px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.welcome span {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 300;
  display:inline-block;
  color:white;
  font-size: 60px;

  margin-top: 10%;
  position: relative;
  top: -11px;
}

.dashboard-title {
  display: block;
  text-align: center;
  font-family: "helvetica";
  font-weight: 300;
  color:black;
  width: 75%;
  font-size: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
}