{% extends 'base.html' %}

{% block content %}

<div class="bg">
  <div class="overlay2"></div>
  <img src="/static/img/splash.jpg"/>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class = "panel panel-title">
            <div class = "dashboard-title">
                <h1> Admin Dashboard </h1>
            </div>
        </div>
        <div class = "panel">
            <div id="project-create" class="button secondary"> Create a project!</div>
            <div id="create-form">
            {% include "create_project.html" %}
            </div>
            {% for project in data %}
                <li>
                    <div class="project">
                        <h4 class = "project-title">{{ project.name }} </h4>
                        <div class="project-details">
                            <div class = "project-description">
                                <b> Description: </b>{{project.description}}
                            </div>
                            <ul>
                                <div class = "row">
                                    <div class ="large-6 columns">
                                        <h4> Project Tasks: </h4>
                                        {% for tuple in data[project][0] %}
                                        <div class ="task">
                                        <li class ="project-task">
                                            <h4> Task </h4>
                                            <b>Task:</b> {{tuple[0].id}}
                                            <b>Name:</b> {{tuple[0].task_name}}<br>
                                            <b>Short Description:</b> {{tuple[0].short_description}}
                                        </li>
                                            <h4 class ="project-volunteer"> Volunteers </h4>
                                            {% for vol in tuple[1] %}
                                            <li class ="project-volunteer">
                                            <b>Volunteer: </b> {{vol['name']}}; {{vol['phone']}}
                                            {% endfor %}
                                            </li>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="large-6 columns">
                                        <h4> Available Volunteers: </h4>
                                        {% for volunteer in data[project][1] %}
                                        <li>
                                            <b>Volunteer: </b> {{volunteer.name}}; {{volunteer.phone}}
                                        </li>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class = "row">
                                    <div class="large-6 columns">
                                      <div class = "button create_task secondary">
                                        <h6 style="color: black;">Create Task</h6>
                                      </div>
                                      <div class = "create_task_form"
                                      {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
                                      <form action="{{ url_for('create_task', project=pid) }}" method=post>
                                      <dl>
                                        <dt>Task Name:
                                        <dd><input type=text name='task_name'>
                                        <dt>Start Time:
                                        <dd><input type=text name='start_time'>
                                        <dt>Duration:
                                        <dd><input type=text name='duration'>
                                        <dt>Short Description:
                                        <dd><input type=text name='short_description'>
                                        <dt>Long Description:
                                        <dd><input type=text name='long_description'>
                                        <dt>Max Volunteers:
                                        <dd><input type=text name='max_volunteers'>
                                        <dd><input class="tiny secondary button" type=submit value='Create Task'>
                                      </dl>
                                      </form>
                                      </div>
                                    </div>
                                    <div class="large-6 columns">
                                      <div class = "button create_user secondary">
                                        <h6 style="color: black;">Add Volunteer</h6>
                                      </div>
                                        <div class = "create_user_form">
                                          {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
                                          <form action="{{ url_for('create_user', project=project.id) }}" method=post>
                                          <dl>
                                            <dt>Name:
                                            <dd><input type=text name='name'>
                                            <dt>Phone:
                                            <dd><input type=text name='phone'>
                                            <dd><input class="tiny secondary button" type=submit value='Create Volunteer'>
                                          </dl>
                                          </form>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
