{% extends 'base.html' %}

{% block content %}

<div class="bg">
  <div class="overlay2"></div>
  <img src="static/img/splash.jpg"/>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class = "panel panel-title">
            <div class = "dashboard-title">
                <h1> Admin Dashboard </h1>
            </div>
        </div>
        <div class = "panel">
            <div id="project-create" class="button secondary"> Create a project!</div>
            <div id="create-form">
            {% include "create_project.html" %}
            </div>
            {% for project in projects %}
                <li>
                    <div class="project">
                        <h4>{{ project.name }} </h4>
                        <div class="project-details">
                            <div action = {{ url_for('detail_task', project=project.id)}}></div>
                            <ul>
                            <li><a href="/admin_dashboard/{{project.id}}/detail_task" > Tasks </a></li>
                            <li><a href="/admin_dashboard/{{project.id}}/detail_user" > Volunteer </a></li>
                            <li><a href="/admin_dashboard/{{project.id}}/create_task" > Create Task </a></li>
                            <li><a href="/admin_dashboard/{{project.id}}/create_user" > Assign Volunteer </a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
