<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LivePlan</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/modernizr.js"></script>
  </head>
<body lang="en">
  <div id="main" class="container" role="main">
    {% block content %}
    {% endblock %}
  </div>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
    $("#project-create").click(function () {
        $("#create-form").stop().slideToggle();
    });
    $(".project-title").click(function(e){
        $(this).parent().find(".project-details").stop().slideToggle();
        e.stopImmediatePropogation();
        return false;
    });
    $(".create_user").click(function(f){
        $(this).parent().find(".create_user_form").stop().slideToggle();
        f.stopImmediatePropogation();
        return false;
    });
    $(".create_task").click(function(g){
        $(this).parent().find(".create_task_form").stop().slideToggle();
        g.stopImmediatePropogation();
        return false;
    });
  </script>
  {% block javascript %}
  {% endblock %}
</body>

</html>
