<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LivePlan</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <script src="static/js/modernizr.js"></script>
  </head>
<body lang="en">
  <div id="main" class="container" role="main">
    {% block content %}
    {% endblock %}
  </div>
  <script src="static/js/jquery.js"></script>
  <script src="static/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
    $("#project-create").click(function () {
        $("#create-form").stop().slideToggle();
        return false;
    });
  </script>
</body>

</html>
