{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="test">
    <div class="large-4 large-centered columns">
      <h2 style="color: white;">Create Task</h2>
      {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
      {{ url_for('create_user', project=pid) }}
      <form action="{{ url_for('create_user', project=pid) }}" method=post>
      <dl>
        <dt>Name:
        <dd><input type=text name='name'>
        <dt>Phone:
        <dd><input type=text name='phone'>
        <dd><input class="tiny secondary button" type=submit value='Create Volunteer'>
      </dl>
      </form>
    </div>
  </div>
</div>

{% endblock %}
