{% extends 'base.html' %}

{% block content %}

<!-- <li><a href="/admin_dashboard/{{project}}/detail_task" > Tasks </a></li> -->
Tasks:
{% for task in tasks %}
    <li><a href="/admin_dashboard/{{project.id}}/{{task.id}}" > {{ task.task_name }} </a>
</li>
{% endfor %}

Volunteers:
{% for volunteer in volunteers %}
    <li><a href="/admin_dashboard/{{project.id}}/{{volunteer.id}}" > {{ volunteer.name }} </a>
</li>
{% endfor %}

<!-- <li><a href="/admin_dashboard/{{project}}/detail_user" > Volunteer </a></li> -->
<li><a href="/admin_dashboard/{{project}}/create_task" > Create Task </a></li>
<li><a href="/admin_dashboard/{{project}}/create_user" > Create Volunteer </a></li>


{% endblock %}

